:root {
  --primary-color: #3db2ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

input {
  padding: 10px;
  width: 25vw;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #555;
}

.display-hidden {
  display: none;
}
.display-visible {
  display: block;
}

.btn {
  margin: 10px;
  padding: 10px 35px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  /* border: 1px solid #555; */
  font-size: 1rem;
  background: var(--primary-color);
  color: white;
}

.clear-btn {
  border: 1px solid var(--primary-color);
  background: white;
  color: var(--primary-color);
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* height: 70vh; */
}

header {
  margin: 30px;
}

header .main-title {
  font-family: "Monofett", cursive;
  font-size: 4rem;
}

header .description {
  font-size: 1.3rem;
}

.section-input,
.bill-amount-input-section,
.cash-input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-input label {
  font-weight: bolder;
  color: var(--primary-color);
  padding: 10px;
  font-size: 1.3rem;
}

.bill-error-msg,
.cash-error-msg {
  margin-top: 10px;
  font-weight: bolder;
  color: red;
  display: none;
}

.change-table-container {
  margin-top: 15px;
}

.change-table-container .table-heading {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.change-table-container .change-table {
  border: 2px solid var(--primary-color);
  text-align: justify;
  margin: auto;
  border-collapse: collapse;
  table-layout: fixed;
  width: 60%;
}

th,
td {
  text-align: center;
  padding: 10px;
  /* width: 40px; */
  border-collapse: collapse;
  border: 2px solid var(--primary-color);
}

.main-footer {
  color: rgb(0, 0, 0);
  /* width: 100%; */
  /* border-top: 1px solid black; */
  margin-top: 5rem;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 20px;
  margin-right: 40px;
}

.social .fab {
  border-radius: 50%;
  color: rgb(10, 10, 10);
  text-align: center;
  padding: 0.5rem;
}
.social .fab:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

@media (max-width: 540px) {
  header {
    margin: 30px;
  }

  header .main-title {
    font-family: "Monofett", cursive;
    font-size: 3rem;
    text-align: center;
  }

  header .description {
    font-size: 1.3rem;
  }

  input {
    width: 80vw;
    text-align: center;
  }

  .display-hidden {
    display: none;
  }
  .display-visible {
    display: block;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-input,
  .bill-amount-input-section,
  .cash-input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-input label {
    font-weight: bolder;
    color: var(--primary-color);
    padding: 10px;
    font-size: 1.3rem;
  }

  .bill-error-msg,
  .cash-error-msg {
    margin-top: 10px;
    font-weight: bolder;
    color: red;
    display: none;
    text-align: center;
    width: 80%;
  }

  .change-table-container {
    margin-top: 15px;
  }

  .change-table-container .table-heading {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .change-table-container .change-table {
    table-layout: auto;
    width: 80%;
  }

  th,
  td {
    text-align: center;
    padding: 10px;
    /* width: 40px; */
    border-collapse: collapse;
    border: 2px solid var(--primary-color);
  }

  .main-footer {
    color: rgb(0, 0, 0);
    margin-top: 5rem;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-text {
    font-size: 20px;
    margin-right: 40px;
  }

  .social .fab {
    border-radius: 50%;
    color: rgb(10, 10, 10);
    text-align: center;
    padding: 0.5rem;
  }
  .social .fab:hover {
    background-color: var(--primary-color);
    cursor: pointer;
  }
}
